venv
.vscode
__pycache__
document/data_chunk000000000000.snappy.parquet
document/data_chunk000000000001.snappy.parquet
document/data_chunk000000000002.snappy.parquet
document/data_chunk000000000003.snappy.parquet
PANDAS.ipynb
cele-prue-firebase-adminsdk-b4xdf-7465c56a75.json
pruebas.py
